ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*border-radius: 30px;*/
	background-color: rgb(5, 57, 109);
}

ul.topnav li {
	float: left;
	color: white;
	cursor: pointer;
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li button {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

@media screen and (max-width: 600px) {

	ul.topnav li.right,
	ul.topnav li {
		float: none;
	}
}

ul.topnav li:hover {
	opacity: 0.8;
}

.logo {
	float: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	width: 58px;
	display: block;
	/* align-content: center; */
	display: block;
	margin-left: auto;
	margin-right: auto;
}