* {
	transition: all 0.5s ease;
}

body {
	background-color: #282626;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer {
	text-align: center;
	background-color: darkgrey;
	line-height: 42px;
}

.mainpage {
	background-color: grey;
	padding: 10px;
	border: 1px solid #cccccc;
    border-radius: 8px;
	text-align: center;
	margin: 15px;
}

/*
 *p,
 *h1,
 *h2,
 *h3,
 *h4,
 *h5,
 *h6 {
 *	line-height: 3.5em;
 *}
*/

a {
	color: rgb(44, 41, 41);
	text-decoration: none;
}

a:hover {
	color: aliceblue;
}