/* 
 *TTNRT CORP
*/ 
body {
background-color: grey;
transition: all 0.5s ease;
}

code {
background:black;

border:1px solid white;

padding:5px 10px;

color: white;
}

* {
	transition: all 0.5s ease;
}


footer {
    grid-area: footer;
    position:  relative;
	bottom:  0;
    margin:  auto;
	width:  100%;
	text-align:  center;
}

footer a {
	font-weight:  bold;
	font-size:  18px;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  ul.topnav li {
	 float: left;
	 color: white;
	 cursor: pointer;
  }
  
  ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	opacity: 0.8;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #04AA6D;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
	ul.topnav li.right, 
	ul.topnav li {float: none;}
  }