/* 
 *TTNRT CORP
*/ 
body {
background-color: black;
transition: all 0.5s ease;
font-family: sans-serif;
color: white;
}

code {
background:black;

border:1px solid white;

padding:5px 10px;

color: white;
}

* {
	transition: all 0.5s ease;
}


footer {
    grid-area: footer;
    position:  relative;
	bottom:  0;
    margin:  auto;
	width:  100%;
	text-align:  center;
}

footer a {
	font-weight:  bold;
	font-size:  18px;
	opacity: 0.8;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 30px;
	background-color: rgb(5, 57, 109);
  }
  
  ul.topnav li {
	 float: left;
	 color: white;
	 cursor: pointer;
  }
  
  ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
   
  @media screen and (max-width: 600px) {
	ul.topnav li.right, 
	ul.topnav li {float: none;}
  }

  ul.topnav li:hover {
    opacity: 0.8;
}

hr {
	border-bottom-style: solid;
	border-bottom-color: white;
    writing-mode: horizontal-tb;
}

a {
	text-decoration: none;
	color: white;
	opacity: 0.8;
}

.mainpage {
	border-radius: 30px;
	background-color: rgb(36, 36, 168);
}

.navimg {
	border-radius: 30px;
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

marguee {
	color: white;
}

.iframe-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
}

.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}