/* 
 *TTNRT CORP
*/ 
body {
background-color: grey;
transition: all 0.5s ease;
}

code {
background:black;

border:1px solid white;

padding:5px 10px;

color: white;
}

* {
	transition: all 0.5s ease;
}

.nav {
    grid-area: nav;
    top: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.nav img {
    width: 25vw; 
}

nav ul {
    list-style: none;
    float: right;  
    margin-top: 50px;
}

nav li {
    display: inline; 
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

nav li:hover {
    opacity: 0.8;
}