<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hi there! | TTNRT CO</title>
  </head>
  <main class="flex flex-col h-screen bg-[#171717] text-white">
    <body>
      <div class="mt-14 flex-1"><slot /></div>
    </body>
  </main>

</html>