<div class="mx-4 sm:mx-auto py-12 md:py-20 prose prose-blue">
<h1>Hello there!</h1>
<p>We are currently building our website right now!</p>
<p>Come back later when it's ready!</p>
<p>If you want, check out our other sites</p>
</div>