<section class="py-12">
    <div class="col-start-2 col-span-10 lg:col-start-2 lg:col-span-3 text-center">
        <h1 class="text-2xl my-8">Hello there!</h1>
        <p>We are currently building our website right now!</p>
        <p>Come back later when it's ready!</p>
        <p>If you want, check out our other sites</p>
    </div>
    <div class="my-9"></div>
    <div class="grid justify-items-center">
        <div><img src="//cdn.ttnrtsite.me/images/logo.png" width="64px" class="my-4"></div>
        <div><p class="my-1">&copy; TTNRT CORP</p></div>
    </div>
</section>